.header {
  height: 95vh;               /* Head will be at 95% of the view port height. */
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
  url('../img/hero.jpg');
  background-size: cover;     /* Whatever the width of the view port the background will match */
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem; /* These are in relation to the parent element, this case the header. */
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;   /* These values are in relation to the parent elements */
    left: 50%;
    transform:  translate(-50%, -50%); /* transform refers to the current element */
    text-align: center; /* This is to center the button on the page */
  }
}