
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px; 10px / 16px = 62.5%

  // @include respond(phone) {
  //   font-size: 50%;
  // }  // we don't require this one as it is the same as tab-port

  @include respond(tab-land) { // width < 1200
    font-size: 56.25%; // 1 rem = 9px, 9px / 16px = 56.25%
  }

  @include respond(tab-port) { // width < 900
    font-size: 50%; // 1 rem = 8px, 8px / 16px = 50%
  }

  @include respond(big-desktop) { // width > 1800
    font-size: 75%; // we want 1rem == 12px, 12px / 16px = 75%
  }
}

/* We apply the font styles inside body because of inheritance */
body {
  box-sizing: border-box; /* box sizing box model changes the box model so that border and padding are no longer added to the total width or total height that we specify for a box */
  padding: 3em;

  @include respond(tab-port) { // width < 900
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white; // text color
}