/* We apply the font styles inside body because of inheritance */

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
}



.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden; /* this is to prevent a bug with animations showing slight jumps */
  margin-bottom: 6rem;

  @include respond(phone) {

  }

  &--main {
    display: block;    /* Changes the span from an in-line element to a block which takes the full width of the parent element */
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }

    /* 
    animation-delay: 2s; 
    animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block;     /* Changes the span from an in-line element to a block which takes the full width of the parent element */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
  
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) { // recall for desktop driven development put the smallest query last.
    font-size: 2.5rem;
  }

  &:hover{
    transform: skewY(2deg) skewX(2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}